body {
  background-color: #eeeeee;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.paper {
  padding: 16px;
  margin-bottom: 10px;
}

.active {
  background-color: #0099FF;
}

.no-decoration {
  text-decoration: none;
  color: inherit;
}

.card-list-item {
  display: inline-block;
  margin: 5px;
}
